body {
font-family: 'Nunito', sans-serif;
color: #555;
}

h1{
  margin-bottom: 1em;
  margin-top: 1em;
  color: #333;
  /*color: #F62E2E;*/
}

#tweets{
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  margin: 2em;
  width: 500px;
}
