body {
font-family: 'Nunito', sans-serif;
color: #555;
}

h1{
  margin-bottom: 1em;
  margin-top: 1em;
  color: #333;
}

#tweets{
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  margin: 2em;
  width: 500px;
}

.single-tweet{
  border: 2px solid #ccc;
  border-radius: 7px;
  margin-bottom: 1em;
  padding:0 .5em;
}
