node_modules
config.consumer_key = "IRMBZrPw5XxP2eKy3qgeksXm6"
config.consumer_secret = "LLnvH9RXdUae9YDgJmFVkpoulqxqkoGTXZCgdme7G7scPKdtsd"
config.access_token = "467983170-DwajYfOI66hWjUOKn8RYIkxJuDJc3QSPnjmjG0hu"
config.access_token_secret = "Ipoh4EFvRVOm0rVCTM3QsxuckHY3b5nIsqaXOtSYLPT2h"
